@model SmarterBalanced.SampleItems.Core.Repos.Models.ItemViewModel

<div id="item-container"></div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-container">
    Launch demo modal
</button>

@section Scripts {
<script src="~/scripts/DropDown.js"></script>
<script src="~/scripts/ItemPage.js"></script>
<script>
    var url = '@Html.Raw(Url.Action("ResetToGlobalAccessibility", "Item",
        new { bankKey = Model.ItemDigest.BankKey, itemKey = Model.ItemDigest.ItemKey }))';

    initializeItemPage(@Json.Serialize(Model));
</script>
}